body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100%;
}

#header {
    height: 35px;
    width: 100%;
    background: #fff;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 3px;
    position: fixed;
    z-index: 10;
}

#header-inside div {
    width: 100px;
    height: 35px;
    float: right;
    display: inline-block;
    text-align: center;
    line-height: 35px;
}

#header-inside {
    width: auto;
    height: inherit;
    margin: 0px 250px;
}

div #logo {
    float: left;
    height: 35px;
    width: 50px;
    background: url("/images/logow.png");
    z-index: 10;
}

#header-inside span {
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

a {
    color: #6593fd;
    text-decoration: none;
}

#banner {
    height: 150px;
    width: 100%;
    background: url("/images/bannerm.jpg");
    background-size: cover;
    top: 38px;
    position: relative;
}

#content {
    padding: 0px 250px 35px;
    width: auto;
    position: relative;
    top: 38px;
    position: relative;
}

.formbox{
    width: 50%;
    min-height: 300px;
    display: inline-block;
    float:left;
}
.searchbox {
    width: 100%;
    display: inline-block;
    float: left;
}

#map {
    height: 300px;
}

.inputbox {
    width: 160px;
}


