extends layout

block content
    h1 Wyszukiwarka produktów programu Sentinel
    h2 Wyszukaj produkt
    if error
        p.err !{error}
    form(method='GET', action='/search')
        div(class='formbox')
            p Od:
            p
                input(class='inputbox', type='date',name='dataod', placeholder='RRRR-MM-DD')        
            p Do: 
            p
                input(class='inputbox', type='date',name='datado', placeholder='RRRR-MM-DD')
            
            p Satelita:
            p
                input(type='radio',name='satellite', value='S1', id='S1') 
                |Sentinel-1
                input(type='radio',name='satellite', value='S2', id='S2') 
                |Sentinel-2
                //input(type='radio',name='satellite', value='') 
                //|dowolny
            p Zakres przestrzenny: 
            p
                input(class='inputbox', type='text', name='extent', value='', id='extent_form', readonly)
        div(id='map', class='formbox')
        div(class='formbox S1 hidden')
            h3 Sentinel-1:
            p
                p Kierunek orbity:
                p
                    input(type='radio',name='orbitdirectionS1', value='ASCENDING') 
                    |Ascending
                    input(type='radio',name='orbitdirectionS1', value='DESCENDING') 
                    |Descending
                    input(type='radio',name='orbitdirectionS1', value='') 
                    |dowolny

                p Polaryzacja:
                p
                    input(type='radio',name='polarisationmodeS1', value='VV') 
                    |VV
                    input(type='radio',name='polarisationmodeS1', value='VH') 
                    |VH
                    input(type='radio',name='polarisationmodeS1', value='HV') 
                    |HV
                    input(type='radio',name='polarisationmodeS1', value='HH') 
                    |HH
                    input(type='radio',name='polarisationmodeS1', value='') 
                    |dowolna
                p Typ produktu:
                p
                    input(type='radio',name='producttypeS1', value='GRD') 
                    |GRD
                    input(type='radio',name='producttypeS1', value='SLC') 
                    |SLC
                    input(type='radio',name='producttypeS1', value='RAW') 
                    |RAW
                    input(type='radio',name='producttypeS1', value='') 
                    |dowolny
                p Tryb sensora:
                p
                    input(type='radio',name='modeS1', value='IW') 
                    |IW
                    input(type='radio',name='modeS1', value='SM') 
                    |SM
                    input(type='radio',name='modeS1', value='EW') 
                    |EW
                    input(type='radio',name='modeS1', value='') 
                    |dowolny

                p Względny numer orbity: 
                    input(class='inputbox', type='text', name='relativeorbitnumberS1', value='')
        div(class='formbox S2 hidden')
            h3 Sentinel-2:
            p
                p Kierunek orbity:
                p
                    input(type='radio',name='orbitdirectionS2', value='ASCENDING') 
                    |Ascending
                    input(type='radio',name='orbitdirectionS2', value='DESCENDING') 
                    |Descending
                    input(type='radio',name='orbitdirectionS2', value='') 
                    |dowolny
                p Względny numer orbity: 
                    input(class='inputbox', type='text', name='relativeorbitnumberS2', value='')
        div(class='searchbox')
            p
                input(type='submit', value='Szukaj')
    
    
    //Leaflet
    script(type='text/javascript', src='/javascripts/leaflet/leaflet.js')

    //Leaflet.Draw
    script(type='text/javascript', src='/javascripts/leaflet.draw/Leaflet.draw.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/Leaflet.Draw.Event.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/Toolbar.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/Tooltip.js')

    script(type='text/javascript', src='/javascripts/leaflet.draw/ext/GeometryUtil.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/ext/LatLngUtil.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/ext/LineUtil.Intersect.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/ext/Polygon.Intersect.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/ext/Polyline.Intersect.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/ext/TouchEvents.js')

    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/DrawToolbar.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.Feature.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.SimpleShape.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.Polyline.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.Marker.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.Circle.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.CircleMarker.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.Polygon.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/draw/handler/Draw.Rectangle.js')

    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/EditToolbar.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/EditToolbar.Edit.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/EditToolbar.Delete.js')

    script(type='text/javascript', src='/javascripts/leaflet.draw/Control.Draw.js')

    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/Edit.Poly.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/Edit.SimpleShape.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/Edit.Rectangle.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/Edit.Marker.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/Edit.CircleMarker.js')
    script(type='text/javascript', src='/javascripts/leaflet.draw/edit/handler/Edit.Circle.js')
    
    //Leaflet map
    script(type='text/javascript', src='/javascripts/leaflet-map.js')