doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/javascripts/leaflet/leaflet.css')
    link(rel='stylesheet', href='/javascripts/leaflet.draw/leaflet.draw.css')
  body
    block content