doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/javascripts/leaflet/leaflet.css')
    link(rel='stylesheet', href='/javascripts/leaflet.draw/leaflet.draw.css')

  body

        div(id='header')
            div(id='header-inside')
                div
                    a(href='/cart')
                        if cartitems
                            span Koszyk( + cartitems + )
                        else
                            span Koszyk (0)
                div
                    a(href='/about')
                        span O stronie
                div
                    a(href='/help')
                        span Pomoc
                div
                    a(href='/')
                        span Strona główna
                div(id='logo')
                
        div(id='banner')

        div(id='content')
            block content

